* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}

@import "https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css";
a:link{text-decoration:none}


nav {
    background-image: linear-gradient(rgb(9, 9, 51),hsla(248, 100%, 12%, 0.746));
}

nav #menu a {
    color: rgb(255, 255, 255);
}

.navbar-toggler .navbar-toggler-icon {
    
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255,255, 255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

#cabeçalho > #elementEl::after{
    content: '|';
    margin-left: 5px;
    animation: blink 0.7s infinite;   
}

@keyframes blink{
    0% { opacity: 1;}
    100% { opacity: 0;}
}

#cabeçalho {
    background-image: url(imagens/Lovepik_com-400421567-background-of-science-and-technology-mobile-wallpaper_hb.jpg);
    background-size: cover;
    height: 560px;
    padding-top: 70px;
    color: white;
    text-align: center;
}

#cabeçalho #fotoperfil {
    border-radius: 100%;
    width: 200px;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 11px  rgba(0, 0, 0, 0.433);   
}

#fotoperfil::before{
    content: "";   
}

.fa-brands {
    color: rgb(255, 255, 255);
    font-size: 40px;
    padding: 0px 6px 0px 6px;
}


#cabeçalho > h1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
    margin-top: 15px;
    font-size: 35px;  
}

#cabeçalho > #p1 {
    color: rgb(54,253,143);
    font-weight: 300;
    font-size: 1.2em;  
}

#cabeçalho > #p2 {
    text-align: center;
    margin-top: 10px;
    font-size: 20px;
    font-weight: 500;
    padding: 20px;
}

#cabeçalho > #p3 {
    font-size: 20px; 
    font-weight: 500;
    margin-top: 30px; 
    margin-bottom: 3px;    
}

#icons {
    height: 11.5em;
    text-align: center;
    padding-top: 25px;    
}

#icons .fa-brands{
    color: #4f4cab7f;
    font-size: 70px; 
    padding: 0px 10px;      
}


#sobremim h2 {
    margin-bottom: 20px;  
}

#sobremim {
    background-color: rgb(232, 232, 232);
    text-align: left;
    padding: 20px 15px 15px 15px;
    font-weight: 400;
    color: rgb(8, 0, 61);
    font-size: 17px;   
}

.to-top {
    font-size: 3.0em;
    bottom: 20px;
    right: 0px;
    color: rgb(54,253,143);
    position: fixed;  
    opacity: 0;
    transition: all .5s;
    pointer-events: none;
}

.to-top.active {
    right: 20px;
    pointer-events: auto;
    opacity: 1;
}


  /* Skills */
#container-skills {
    background-color: rgb(8, 0, 61);
    color: white;
    height: 900px;
}

.skills {
    display: block;
    max-width: 450px;
    margin: auto;
    margin-bottom: 40px;
}

.skills img {
    height: 100px;
    float: right;
    margin-right: 60px;
    margin-top: -25px;
    opacity: .9;
}

#container-skills h2 {
    text-align: center;
    padding-top: 28px;
    font-size: 1.7em;
    font-weight: 600;
}

#container-skills h3 {
    color: rgb(54,253,143);
    margin-top: -10px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
}

.skills h4 {
    margin-top: 20px;
    text-align: center;
    font-weight: 500;
    font-size: 18px;
}

.skills p {
    margin-left: 40px;
    margin-bottom: 6px;
    font-size: 14px;
}

.skills i {
    color: rgb(224, 224, 224);
}

.skills #img2 {
    height: 85px;
    margin-top: -30px;
}

.skills #img3 {
    height: 90px;
    margin-top: -50px;
}

.vn-green a{
    background-color: rgb(54,253,143);
    display:inline-block;
    position:relative;
    padding:10px 3px 10px 40px;
    color:rgb(8, 0, 61);
    transition:all 0.2s ease;
    border-radius: 10px ;
    font-weight: 600;
    font-size: 20px;
}

.vn-green a:before{
    content:"\f019";
    font-family:fontAwesome;
    position:absolute;
    text-decoration: inherit;
    font-size:28px;
    border-radius:10px 20px 0 10px;
    color:rgb(8, 0, 61);
    background-color:rgba(255, 255, 255, 0.572);
    padding: 5px 5px 3px ;
    top:0;
    left:0;
}

.vn-green a:hover{
    background-color: rgb(80, 222, 80);
    transform: scale(1.1);
}


 /* Projetos */
#projetos {
    background-color: rgb(241, 241, 241);  
    
}

#tituloProjetos {
    text-align: center;
    color: rgb(8, 0, 61);
    padding: 20px 20px 0px 20px;
    font-size: 30px;
}

#container-projetos {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    max-width: 1200px;
    margin: auto;      
   
}

.imag {
    height: 200px;
    margin-bottom: 15px;    
}

.card {
    display: inline;
    text-align: center; 
    margin: auto;
    height: 420px;
    width: 291px;
    border: 0px solid rgb(8, 0, 61);
    border-radius: 15px;
    overflow: hidden;
    margin-bottom: 30px;
    box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.427);
    background-color: rgb(255, 255, 255);  
    font-weight: 600;
    margin: 20px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
}

.card h2 {
    color: rgb(8, 0, 61);
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 2px;
}

.card p {
    font-weight: 400;
    font-size: 17px;
    padding: 0px 15px;
}

.card button {
    border: none;
    padding: 8px 8px;
    border-radius: 10px;
    margin: 5px;
    color: white;
    background-color: rgb(77, 133, 135);
    font-weight: 500;  
}

.card .btn1 {
    padding: 8px 17px;
}

.card i{
    font-size: 12px;
}

#webpage button{
    margin-top: 56px;
}

#login button{
    margin-top: 30px;
}

.card button:hover{
    background-color: #141456;
    transition: all .4s;
}

footer {
    background-color: rgb(33, 33, 33);
    height: 500px;
}

  /* Transições e animações de divs */
[data-anime] {
    opacity: 0;
    transition: .5s;
    
}

[data-anime="right"] {
    transform: translate3d(30px, 0, 0);
}

[data-anime="left"] {
    transform: translate3d( -100px, 0, 0);
}

[data-anime="up"] {
    transform: translate3d(0, 100px, 0);
}

[data-anime="down"] {
    transform: translate3d(0, -100px, 0);
}

[data-anime].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
} 
 

@media screen and (min-width: 1000px) {
    #cabeçalho {
        height: 640px;
        background-image: url(imagens/backgound.png);
        background-size: cover; 
        background-position: center center;   
    }

    #cabeçalho .fa-brands:hover {
        color: rgb(54,253,143);
        transform: scale(1.3);
        transition: all 0.2s linear;
        
    }
    
    #cabeçalho > #fotoperfil {
        float: right;
        margin-right: 100px;
        margin-top: 50px;
        width: 400px;    
    }

    #cabeçalho > h1 {
        margin-top: 110px;
        font-size: 5em;     
    }

    #cabeçalho > p {
        margin-top: 10px;
        font-weight: 300;
        font-size: 2em;   
    }

    #cabeçalho > #p1 {
        color: rgb(54,253,143);
        font-size: 2em;
    }

    #cabeçalho > #p2 {
        text-align: center;
        margin-top: 30px;
        font-size: 40px;
        font-weight: 500;
        padding-left: 20px;
    }

    #cabeçalho > #p3 {
        font-size: 20px; 
        font-weight: 500;
        margin-top: 50px;
    }

    .fa-brands {
        color: rgb(255, 255, 255);
        font-size: 3.125em;
        padding: 12px;
        margin-top: -8px;  
    }
  
    #icons {
        height: 300px;  
    }

    #icons .fa-brands{
        margin-top: 0px;
        color: #4f4cab7f;
        font-size: 129px;
        padding: 0px 30px;   
    }

    #sobremim {
        padding: 70px 300px 70px 130px;
        font-size: 22px;
    }

    #cabeçalho > #elementEl::after{
        content: '|';
        
        animation: blink 0.7s infinite;   
    }
    
    @keyframes blink{
        0% { opacity: 1;}
        100% { opacity: 0;}
    }
    


    .to-top {
        font-size: 3.5em;
        bottom: 30px;
        right: 0px;
        position: fixed;
        display: flex;
        text-decoration: none;
        opacity: 0;
        pointer-events: none;
        transition: all .5s;
    }

    .to-top.active {
        right: 30px;
        pointer-events: auto;
        opacity: 1;
    }


    #tituloProjetos {
        text-align: center;
        color: rgb(8, 0, 61);
        padding-top: 50px;
        padding-bottom: 40px;
        font-size: 65px;  
    }

    .card {
        margin: 20px 50px 60px 50px;
    }

   

    
}
