* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Montserrat', sans-serif;;
}
#cabeçalho {
    background-color: #08003c;
    height: 350px;
    padding-top: 20px;
    color: white;
    text-align: center;
}

#cabeçalho > #fotoperfil {
    border-radius: 100%;
    width: 200px;
    margin: auto;
    display: block;
    box-shadow: 3px 3px 11px  rgba(0, 0, 0, 0.433);
    border: 0px solid white;   
}

#fotoperfil::before{
    content: "";
    
}

.fa-brands {
    color: rgb(255, 255, 255);
    font-size: 30px;
    padding: 6px;
}
.fa-brands:hover {

}

#cabeçalho > h1 {
    color: rgb(255, 255, 255);
    font-weight: 700;
   
}
#cabeçalho > p {
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    margin-top: 20px;
    font-weight: 600;
}

@media screen and (min-width: 700px) {
    #cabeçalho {
        height: 360px;
        
    }

}
    
